[Unit]
Description=DEEPWELL server exposing an RPC interface
Wants=network-online.target
Requires=postgresql.service
After=network.target network-online.target postgresql.service

[Service]
Type=simple
ExecStart=/usr/bin/deepwell-server
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
